<h2>Group</h2>
<label for="name">Name: </label>
<h3>{{group.name}}</h3>
<label for="location">Location</label>
<h3>{{group.location}}</h3>

<label for="members">Members: </label>
<ul>
{{#each group.members}}
<li>{{username}}</li>
{{/each}}
</ul>

<label for="newMembers">New members </label>
<h3>{{group.newMembers}}</h3>

<img src="{{group.img.path}}" alt="{{group.img.filename}}">
<a href="/group/{{group._id}}/edit">Edit</a>
<form action="/group/{{group._id}}/delete" method="POST">
  <button>Delete Group</button>
</form>