<h2>Profile</h2>
<label for="name">Name: </label>
<h3>{{user.username}}</h3>
<label for="email">Email</label>
<h3>{{user.email}}</h3>
<label for="age">Age: </label>
<h3>{{user.age}}</h3>
<img src="{{user.profilePic.path}}" alt="{{user.profilePic.filename}}">