<div class="container">
  <div id="title-container">
    <h2>{{user.username}} Profile</h2>
  </div>
  <div id="data-img">
    <div id="personal-data">
      <label for="name">Name: </label>
      <h3>{{user.username}}</h3>
      <label for="email">Email:</label>
      <h3>{{user.email}}</h3>
      <label for="age">Age: </label>
      <h3>{{user.age}}</h3>
    </div>
    <div id="img-container">
      <img src="{{user.profilePic.path}}" alt="{{user.profilePic.filename}}" width="250px">
    </div>
  </div>
  <a href="/user/profile/edit">Edit</a>
  <form action="/user/profile/import" method="get" id="import">
    <span>Import your games from your BGG profile</span>
    <input type="text" name="importUsername" placeholder="Insert your BGG username">
    <button class="btn">Import</button>
  </form>
  <form action="/user/profile/delete" method="POST">
    <a href="/group/list" class="btn">Group List</a>
    <a href="/game/user/{{user._id}}" class="btn">My Game List</a>
    <button class="btn">Delete User</button>
</div>
</form>