<div class="container list-container">
  <div class="title-container-game">
    <h1>Check our games</h1>
  </div>
  <div class="row">
    {{#each game}}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{img.path}}" alt="{{img.filename}}" width="100px" height="180px">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Min players: {{minPlayers}}, Max Players: {{maxPlayers}}</p>
        <a href="/game/{{_id}}" class="btn btn-primary">Go Detail</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>