<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">{{appointment.game.name}}</h1>
    <p class="lead">{{#fecha appointment.date}}{{this}}{{/fecha}}</p>
    <hr class="my-4">
    <p>{{appointment.group.name}}</p>
    <ul class="list-group">
      {{#each appointment.players}}
      <li class="list-group-item">{{username}}</li>
      {{/each}}
    </ul>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/appointment/{{appointment._id}}/edit" role="button">Edit this date</a>
      <form action="/appointment/{{appointment._id}}/delete" method="POST">
        <button class="btn btn-danger">Delete this date</button>
      </form>
    </p>
  </div>
</div>